.vbox-team-card {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #dcdcdc;
    -fx-spacing: 5;
}

.button-assign {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
